/* h1{
  color:red;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 4px 4px 3px black;
}

p{
  text-indent: 100px;
  line-height: 3;
  word-spacing: 20px;
} */

.headings{
  color:red;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 4px 4px 3px black;
}

.paragraph{
  color:rgb(121, 0, 168);
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 4px 4px 3px black;
}

.pargraph-1{
  color : green;
  font-size: 30px;
  font-family: 'Henny Penny', cursive;
  background-color: #f4e5fd;
}

.pargraph-2{
  color: blue;
  font-size: 30px;
  background-image: url("");
}

.pargraph-3{
  color: darkmagenta;
  font-size: 30px;
  background-image: url("");
}

/* .root{
  background-image: url("https://wallpaperaccess.com/full/1788645.jpg");
  background-repeat: repeat;
} */

.border{
  /* border-style: solid; */
  border-width: 3px;
  /* border-color: red; */
  border-top-style: dashed;
  border-bottom-style: double;
  border-left-style: solid;
  border-top-color: blue;
  border-bottom-color: red;
}

.shorthand-border{
      /* border: 3px solid red; */
 border-top: 3px solid green;
border-bottom: 6px dashed;
}

.round-border{
  border: 2px solid blue;
  border-radius: 20px;
  /* padding: 40px; */
  padding-left: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  /* margin: 40px */
  margin-top: 40px;
  margin-left: 50px;
}